<div class="jumbotron" >
    <div class="container">
        <div class="row text-center">
            <div class="col-sm text-right" style="margin:0; padding:0;">
                <img src="../../assets/images/logo/logowhite.png" class="img-fluid" width=150px height=150px alt="Logo">
            </div>
            <div class="col-sm text-left align-self-center" style="margin:0; padding:0;">
                <h1 style="margin:0; padding:0; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">MOBISTORE</h1>
                <pre style="margin:0; padding:0; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"> GET SOMETHING DIFFERENT</pre>
            </div>
        </div>
    </div>
</div>