<nav class="navbar navbar-expand-lg  navbar-black  bg-black justify-content-center">
    <ul class="navbar-nav justify-content-center">
      <li class="nav-item">
          
        <a class="nav-link"  (click)="takeEdit()" routerLink="allproducts" (click)="allproducts()"><i class="fas fa-store"></i><span> All Products</span></a>
      </li>
      
      <li class="nav-item" *ngIf="(!isAdmin)">
        <a class="nav-link"routerLink="allproducts" (click)="lowtohigh()"><i class="fas fa-rupee-sign"></i><i class="fas fa-sort-numeric-down"></i><span> Price -- Low to High</span></a>
    </li>
    <li   class="nav-item" *ngIf="(!isAdmin)">
      <a class="nav-link" routerLink="allproducts" (click)="hightolow()"><i class="fas fa-rupee-sign"></i><i class="fas fa-sort-numeric-up"></i><span> Price -- High to Low</span></a>
    </li>
    <li  class="nav-item" *ngIf="(!isAdmin)">
      <a class="nav-link" routerLink="allproducts" (click)="instock()"><i class="fas fa-layer-group"></i><span> In Stock</span></a>
    </li>
    <li   class="nav-item" *ngIf="(isAdmin)">
        <a class="nav-link" routerLink="allproducts" (click)="allproducts()" (click)="giveEdit()"><i class="fas fa-edit"></i><span> Edit</span></a>
    </li>
  </ul>
</nav>
